@font-face {
	font-family: 'Nexa';
	src: url(../fonts/Nexa_Book-webfont.woff2);
	font-weight: normal;
}

@font-face{
	font-family: 'Nexa';
	src: url(../fonts/Nexa_Heavy-webfont.woff2);
	font-weight: 200;
}

html{
	text-align: center;
	vertical-align: middle;
	font-family:  'Nexa', sans-serif;
}

body {
    background-image: url("../img/bg-img.png");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    padding:0;
    margin:0;
    width:100%;
}

h1{
	font-weight: 200;
	margin:0;
	color: rgba(255, 27, 27,0.55);
}
.z_neg{
	z-index: -1;
}

.red_block{
	background-color: rgba(255, 27, 27,0.55);
	color:white;
}

.true_red_block{
	background-color: rgba(253, 128, 128,1);
	color:white;
}

.white_block{
	background-color: white;
	color:grey;
}

.container{
	width: 950px;
	margin-left: auto;
	margin-right: auto; 
}

.left{
	width: 50%;
	float: left;
}

.right{
	width: 50%;
	float: right;
}

.row:after{
	clear:both;
}

nav{
	padding-bottom: 150px;
	font-size: 1rem;
}

nav a{
	text-decoration: none;
	transition:font-size 0.3s ease;
	color:black;
}

.index a{
	color:white;
}

nav a:hover{
	font-size: 1.1rem;
}

button{
	font-size:1rem;
	padding: 5px;
	cursor:pointer;
	border-radius: 10px;
	border:solid;
	border-width: 1.5px;
	transition: background 1s ease, color 1s ease;
}

nav button{
	background-color: white;
	color: black;

}

.login_button{
	width: 60%;
	margin-top: 30px;
	border-radius: 20px;
	background-color: rgba(253, 128, 128,0.55);
	color:white;
	border-color: white;
}

.index button{
	background-color: rgba(255, 27, 27,0.55);
	color:white;
	border-color: white;
}

nav button:hover{
	background-color: white;
	color: rgba(253, 128, 128,1);
}

.login_button:hover, .index button:hover{
	background-color: white;
	color: rgba(255, 27, 27,0.55);
}

nav h1{
	margin-top: 20px;
	text-align: left;
	font-size: 2rem; 
	color: rgba(253, 128, 128,1);
}

.index h1{
	color:white;
}

nav ul{
	margin-top: 20px;
	padding: 10px 0px;
}

nav ul li{
	display: inline-block;
	margin-left: 30px;
}

.ui-img{
	max-width:  50%;
}

.icon-img{
	margin-top: 30px;
	margin-bottom: 10px;
	max-width: 118px;
	max-height: 97px;
}

.abs_move_up{
	position: absolute;
    top: -90px;
    left: 25%;
}

.rel{
	position: relative;
}

.abs{
	position: absolute;
	top:0;
	left: 0;
}

.blank{
	padding-bottom: 270px;
}

.app-icon{
	margin-top: 150px;
	max-width: 200px;
}

.left .app-icon{
	margin-left: 250px;
}

.right .app-icon{
	margin-right: 250px; 
}

footer{
	background-color: rgba(46,50,51,1);
	height: 150px;
}

footer .left{
	text-align: left;
	color:grey;
}

footer .left ul li{
	margin-left: 220px;
	margin-top: 20px;
	list-style: none;
}

footer .right ul{
	margin-right: 200px;
}

footer .right ul li{
	margin-left: -20px;
	margin-top: 40px;
	display: inline-block;
}

footer .right ul li img{
	max-width: 50%;
}

.login-block{
	width:400px;
	height: 370px;
	margin: 0px auto 100px auto;
	border-radius: 40px;
}

form h1{
	padding-top: 40px;
	color: white;
}

input, label{
	margin-top: 30px;
	display: block;
	width: 60%;
	height: 30px;
	font-size: 1rem;
	border-width: 0;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

input{
	color:grey;
}

.res_list a img{
	max-width: 300px;
	height: 300px;
	object-fit: cover;
	padding: 3px;
	filter:blur(1.5px) brightness(50%);
}











.abs_align_center{
	width: 60%;
	left: 50%;
	margin-left: -30%;
}

.top_15{
	top:15%;
}

.top_50{
	top:50%;
}

.top_70{
	top:70%;
}

.padding_bottom_25{
	padding-bottom: 25px;
}

.height_max{
	height: 100%;
}

.width_max{
	width: 100%;
}

.width_80{
	width: 80%;
}

.width_60{
	width: 60%;
}

.align_left{
	text-align: left;
}

.align_center{
	text-align: center;
}

.margin_center{
	margin-left: auto;
	margin-right: auto;
}

.color_grey{
	color: grey;
}

.white_text{
	color: white;
}

.inline_block{
	display: inline-block;
}

.small_text{
	font-size: 13px;
}